---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogGrid from "../../components/BlogGrid.astro";
import { SITE_DESCRIPTION } from "../../consts";

const posts = (await getCollection("blog")).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<BaseLayout
	title={"DUBISDEV - Blog"}
	description={SITE_DESCRIPTION}
	showStars={false}
>
	<main>
		<BlogGrid posts={posts} />
	</main>
</BaseLayout>

<style>
	main {
		width: 960px;
		max-width: calc(100% - 2em);
		margin: auto;
		padding: 3em 1em;
	}
</style>
