---
import BaseLayout from "../layouts/BaseLayout.astro";
import HeroSection from "../components/HeroSection.astro";
import SkillsSection from "../components/SkillsSection.astro";
---

<BaseLayout
	title={"DUBISDEV - Portfolio y Blog de David Jiménez"}
	description={"My web and blog about Software Engineering"}
>
	<main>
		<HeroSection />
		<section>
			<SkillsSection />
		</section>
	</main>
</BaseLayout>
